{{>partials/header}}

{{#showBanner}}
  {{#infos}}
  <section
    class="banner"
    style="background-image: url('/images/{{background}}')">
    {{title}}
  {{/infos}}
{{/showBanner}}
</section>
  {{#infos}}
    <h2> {{title}} disponíveis para adoção</h2>
  {{/infos}}

<div class="container list">
{{#data}}
  <div class="item">
    <img
      src="/images/{{image}}"
      class="item--image" />
    <div class="item--name">{{name}}</div>
    <div class="item--color">Cor: {{color}}</div>
    <div class="item--genre">Gênero: {{sex}}</div>
  </div>
{{/data}}
</div>
{{^data}}
    <div class="no-list">
      <h2>Nenhum item foi encontrado!</h2>
    </div>
{{/data}}

{{>partials/footer}}